.App {
  text-align: center;
  color: #3a4042;
}
.AppWrap {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  display: block;
}
.AppContainer {
  margin-top: 50px;
  max-width: 960px;
  padding: 20px;
  border: 1px solid #50717b;
  border-radius: 10px;
}

footer {
  text-align: left;
  font-size: 12px;
  text-align: center;
  color: #50717b;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}
