Body {
  background-color: #e0ece4;
}
.App {
  text-align: center;
  color: #797a7e;
}
.AppWrap {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  display: block;
}
.AppContainer {
  margin-top: 50px;
  max-width: 960px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f2e7;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: left;
  font-size: 12px;
  text-align: center;
  color: #50717b;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}
