.App {
  text-align: center;
}
.AppWrap {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  display: block;
}
.AppContainer {
  margin-top: 50px;
  max-width: 960px;
  padding: 20px;
}

footer {
  text-align: left;
  font-size: 12px;
}
