.Results {
  padding: 10px 10px;
  margin-top: 10px;
  color: #515154;
  text-align: left;
}

h6 {
  padding-left: 5px;
}

.word {
  background-color: #d8d3cd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
}
